<launch>
  <arg name="cartographer_config_dir" default="$(find my_navigation)/config"/>
  <arg name="cartographer_config" default="cartographer_scout_2d.lua"/>
  <arg name="rviz" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="world_name" default="$(find scout_gazebo_sim)/worlds/clearpath_playpen.world"/>

  <include file="$(find scout_gazebo_sim)/launch/scout_mini_diff_drive_empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <node pkg="scout_gazebo_sim" type="pointcloud_to_pointcloud2.py"
        name="sim_velodyne_cloud_converter" output="screen">
    <param name="input" value="/velodyne_points_raw"/>
    <param name="output" value="/velodyne_points"/>
  </node>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
        name="sim_cloud_to_scan" output="screen">
    <remap from="cloud_in" to="/velodyne_points"/>
    <remap from="scan" to="/scan"/>
    <param name="target_frame" value="laser_link"/>
    <param name="transform_tolerance" value="0.05"/>
    <param name="min_height" value="-0.35"/>
    <param name="max_height" value="1.6"/>
    <param name="angle_min" value="-3.14159"/>
    <param name="angle_max" value="3.14159"/>
    <param name="angle_increment" value="0.00436"/>
    <param name="scan_time" value="0.1"/>
    <param name="range_min" value="0.30"/>
    <param name="range_max" value="30.0"/>
  </node>

  <node name="sim_cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" output="screen"
        args="-configuration_directory $(arg cartographer_config_dir) -configuration_basename $(arg cartographer_config)">
    <remap from="scan" to="/scan"/>
  </node>

  <node name="sim_cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" output="screen"
        args="-resolution 0.05"/>

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz"/>
</launch>
