<launch>
    <arg name="bag" default="$(env HOME)/slam_ws/paper_exp/bags/mapping_01.bag" />
    <arg name="rate" default="0.5" />
    <arg name="rviz" default="true" />
    <arg name="rviz_config" default="$(find aloam_velodyne)/rviz_cfg/aloam_bag_preview.rviz" />
    <arg name="start_paused" default="false" />
    <arg name="record" default="false" />
    <arg name="record_out" default="$(env HOME)/slam_ws/paper_exp/bags/aloam_mapping_01_result.bag" />
    <arg name="sc_save_directory" default="$(env HOME)/slam_ws/paper_exp/sc_aloam/mapping_01/" />

    <param name="/use_sim_time" value="true" />

    <include file="$(find aloam_velodyne)/launch/aloam_velodyne_VLP_16_scout_mapping.launch">
        <arg name="cloud_topic" value="/velodyne_points" />
        <arg name="use_cloud_frame_transform" value="true" />
        <arg name="target_frame" value="base_link" />
        <arg name="prefer_tf" value="false" />
        <arg name="use_scan_context" value="true" />
        <arg name="sc_save_directory" value="$(arg sc_save_directory)" />
        <arg name="rviz" value="false" />
    </include>

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
              args="-d $(arg rviz_config)" />
    </group>

    <group unless="$(arg start_paused)">
        <node pkg="rosbag" type="play" name="mapping_01_play" output="screen" required="true"
          args="--clock -r $(arg rate) $(arg bag) --topics /velodyne_points /tf /tf_static" />
    </group>

    <group if="$(arg start_paused)">
        <node pkg="rosbag" type="play" name="mapping_01_play" output="screen" required="true"
          args="--pause --clock -r $(arg rate) $(arg bag) --topics /velodyne_points /tf /tf_static" />
    </group>

    <group if="$(arg record)">
        <node pkg="rosbag" type="record" name="aloam_mapping_01_record" output="screen"
              args="-O $(arg record_out) /laser_odom_to_init /laser_odom_path /aft_mapped_to_init /aft_mapped_to_init_high_frec /aft_mapped_path /laser_cloud_map /laser_cloud_surround /velodyne_cloud_registered /velodyne_cloud_registered_local /aft_pgo_odom /aft_pgo_path /aft_pgo_map /loop_scan_local /loop_submap_local" />
    </group>
</launch>
