<launch>
	<!--INPUT : /MAP(must be a static map),/tf(must represent the trans between odom and base_link)-->
	<!--INPUT : /scan(must sub the laser_scan topic)-->
  <master auto="start"/>
  <arg name="map" value="pro"/>
  <param name="/use_sim_time" value="false" />

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="/home/xcy/Downloads/$(arg map).yaml" respawn="false" />

  <!-- AMCL -->
  <include file="$(find function_module)/launch/common/amcl.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find function_module)/rviz/pure_loc.rviz" />

</launch>

