<launch>
  <param name="/use_sim_time" value="true"/>
  <arg name="configuration_basename" default="repeat03_pointcloud.lua"/>

  <!-- Retained for /scan and local_grid_mapper only. Global Cartographer
       subscribes directly to /velodyne_points in the included config. -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
        name="repeat03_cloud_to_scan" output="screen">
    <remap from="cloud_in" to="/velodyne_points"/>
    <remap from="scan" to="/scan"/>
    <param name="target_frame" value="laser_link"/>
    <param name="transform_tolerance" value="0.05"/>
    <param name="min_height" value="-0.515"/>
    <param name="max_height" value="1.435"/>
    <param name="angle_min" value="-3.1415926"/>
    <param name="angle_max" value="3.1415926"/>
    <param name="angle_increment" value="0.0043633"/>
    <param name="scan_time" value="0.10"/>
    <param name="range_min" value="0.30"/>
    <param name="range_max" value="30.0"/>
    <param name="use_inf" value="true"/>
    <param name="inf_epsilon" value="1.0"/>
  </node>

  <include file="$(dirname)/slam_local_grid_pointcloud.launch">
    <arg name="configuration_directory" value="$(dirname)"/>
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
    <arg name="scan_topic" value="/scan"/>
    <arg name="pointcloud_topic" value="/velodyne_points"/>
    <arg name="odom_topic" value="/odom"/>
    <arg name="base_frame" value="base_link"/>
  </include>
</launch>
